body{
    font-family: Arial, Helvetica, sans-serif;
    /* background-color:greenyellow; */
    background-image: url("https://images.unsplash.com/photo-1622737133809-d95047b9e673?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHNpbXBsZXxlbnwwfHwwfHw%3D&w=1000&q=80");

}
a{
    text-decoration: none;
}

.card{
    background-image: url('https://img.freepik.com/free-vector/neutral-soft-abstract-watercolor-background-vector_53876-140748.jpg?w=2000');
}
